@font-face {
  font-family: 'GT America';
  src: url('../fonts/GT America Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../fonts/GT America Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/RecoletaBold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf") format('truetype');
    font-weight: 100 900;
}