body {
  @apply font-robot bg-c-tan-50;
}

[x-cloak] {
  @apply hidden;
}

a {
  @apply transition duration-200;
}

.nav-container {
  @apply relative;
  &:before {
    @apply bg-cover absolute inset-0;
    content: "";
    background-image: url('../images/bg-crump.jpg');
  }
}

// .footer-container {
//   @apply relative;
//   &:before {
//     @apply bg-cover absolute inset-0 z-10;
//     content: "";
//     background-image: url('../images/bg-crump.jpg');
//   }
// }

.header-text {
  @apply leading-tight;
  .line-1 {
    @apply text-c-blue-100 text-[2.5rem] leading-none sm:text-5xl md:text-[4rem] md:leading-none lg:text-[5.5rem] xl:text-[6.5rem];
  }
  .line-2 {
    @apply text-c-red-100 text-[3.6rem] leading-none sm:text-7xl md:text-8xl md:leading-none lg:text-[8rem] xl:text-[9.5rem];
  }
}

.prose {
  strong {

  }
  ul > li::before {

  }
  h4 {

  }
}

.grid-container {
  .box:nth-child(odd) {
    @apply sm:border-r;
  }
  .box {
    @apply lg:border-r;
  }
  .box:nth-child(4n) {
    @apply lg:border-r-0;
  }
  .box:nth-child(n+5) {
    @apply lg:border-b-0;
  }
}

.mapsvg-wrap-all {
  .mapsvg-header {
    @apply hidden #{!important};
  }
  .mapsvg-controller-view-toolbar {
    @apply hidden;
  }
  .mapsvg-controller-view-wrap.nano {
    @apply top-0 #{!important};
  }
  .mapsvg-controller-view-content {
    @apply p-6 #{!important};
    h5 {
      @apply font-rec font-bold text-c-blue-100 text-2xl text-center border-b-[3px] border-c-blue-100 pb-1 md:text-3xl md:pb-2;
    }
    .line-item {
      @apply flex justify-between font-robot text-c-blue-100 py-3 border-b border-[#CCCCCC] md:text-sm md:py-4;
    }
    .num {
      @apply text-c-red-100 font-gt font-bold text-lg leading-none md:text-xl md:leading-none;
    }
  }
}

.study-swiper {
  .swiper-pagination {
    @apply flex space-x-3 relative;
    .swiper-pagination-bullet {
      @apply w-3 h-3;
    }
    .swiper-pagination-bullet-active {
      @apply bg-c-red-100;
    }
  }
}

.studies-bg {
  @screen lg {
    background-image: linear-gradient( 90deg, #FFFEFC 0%, #FFFEFC 75%, #F3F0EB 75%, #F3F0EB 100%);
  }
}

.study-btn.active {
  @apply bg-c-red-100 text-white;
  img {
    @apply border-white;
  }
}

.footer-about {
  h4 {
    @apply text-xl font-rec text-white;
  }
}

.mapsvg {
  @apply overflow-visible #{!important};
}

#lottie-0 path, #lottie-1 path, #lottie-2 path, #lottie-3 path, #lottie-4 path, #lottie-5 path, #lottie-6 path, #lottie-7 path {
  @apply fill-current stroke-current text-c-red-100;
}

.beer-width {
  @apply lg:pl-6 lg:pr-0 lg:mr-0 lg:max-w-screen-sm xl:max-w-[800px] #{!important};
  @screen lg {
    margin-left: calc(50vw - 512px) !important;
  }
  @screen xl {
    margin-left: calc(50vw - 640px) !important;
  }
}